input, button {
  border: 1px solid green;
  text-decoration: underline;
  background-color: transparent;
  font-family: Commodore;
}

#welcome {
  top: 0px;
  margin: auto;
  text-align: center;
  position: relative;
}
