.no-margin {
  margin: 0;
}

.margin {
  margin: auto;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.powderblue {
  background-color: powderblue;
}

.violet {
  background-color: violet;
}

.limegreen {
  background-color: limegreen;
}

.black {
  background-color: black;
}

.text-input {
  padding: 8px;
  border: hidden;
  border-radius: 8px;
}
