/* Margin */

.no-margin {
  margin: 0;
}

.margin {
  margin: auto;
}

.center {
  margin: auto;
  text-align: center;
}

.paragraph {
  width: 500px;
}

.no-overflow {
  overflow: hidden;
}

/* Background Colors */

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.powderblue {
  background-color: powderblue;
}

.violet {
  background-color: violet;
}

.limegreen {
  background-color: limegreen;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.skyblue {
  background-color: skyblue;
}

.origami-yoda {
  background-color: #ccff33;
}

/* Color */

.white-color {
  background-color: white;
}

/* Input */

.text-input {
  padding: 8px;
  border: hidden;
  border-radius: 8px;
}

/* Buttons */
.button {
  padding: 8px;
  border: hidden;
  border-radius: 8px;
  transition: background-color ease-in-out 2s;
}

.button:hover {
  cursor: pointer;
  background-color: limegreen;
}

.boxed {
  padding: 50px;
}

.rounded {
  border-radius: 8px;
}

.zoom {
  margin: 0 auto;
  transition: transform .5s; 
}

.zoom:hover {
  cursor: default;
  transform: scale(1.05);
}

.slightly-transparent {
  opacity: 0.8;
}

.no-border {
  border: hidden;
}

.circle {
  border-radius: 50%;
}

.magic-ball {
  opacity: 1.0;
  -webkit-transition: background 1.5s linear;
  -moz-transition: background 1.5s linear;
  -o-transition: background 1.5s linear;
  -ms-transition: background 1.5s linear;
  transition: background 1.5s linear;
}

.flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* Fonts */
.texturina {
  font-family: 'Texturina', serif;
}

.jetbrains {
  font-family: 'JetBrains Mono', monospace;
}

/* Links */
.false-link {
  color: blue;
  text-decoration: underline;
}

.false-link:hover {
  cursor: pointer;
}
